:root{
    --verde-agua: #42dca3;
}
@media all and (min-width: 0px) {
    body{
        font-family: 'Cabin', sans-serif;
    }
    body header{
        background-image: url("../imagenes/intro-bg.jpg");
        background-size: cover;
        background-position: bottom;
    }
    .menu{
        background-color: none;
    }
    .menu a{
        padding-left: 10%;
    }
    .menu button{
        margin-right: 10%;
    }
    .texto-central{
        height: 100vh;
        padding-bottom: 450px;
    }
    .texto-central div{
        height: 40vh;        
    }
    .texto-central div h1{
        font-size: 70px;
    }
    .texto-central div p{
        font-size: 22px;
    }
    .header-container section div i{
        font-size: 50px;
    }
    /**MONTE**/
    .monte{
        background-color: black;
        color: white;
        /*height: 100vh;*/
    }
    .monte div{
        /*height: 100vh;*/
        padding-bottom: 25%;
    }
    .monte h2{
        padding-top: 8%;
        font-size: 32px;
    }
    .monte p{
        font-size: 18px;
    }
    /**DESCUENTO**/
    .descuento{
        background-image: url("../imagenes/downloads-bg.jpg");
        background-size: cover;
        background-position: bottom;
        height: 60vh;        
    }
    .descuento div{
        max-width: 910px;
    }
    .descuento div h3{
        font-size: 40px;
    }
    .descuento div p{
        font-size: 18px;
    }
    .descuento div button p{
        font-size: 20px;
    }
    .descuento div button{
        height: 35px;
        padding-top: 1px;
        background-color: transparent;
    }
    /*-*CONTACTO*-*/
    .contacto{
        height: 100vh;
        background-color: black;
    }
    .contacto div{
        height: 14vh;
        max-width: 700px;
        margin-bottom: 50px;
    }
    .contacto div div{
        height: 40px;
    }
    .contacto div div div{
        padding-top: 7px;
        margin-right: 0vh;
        border-style: solid;
    }
    .contacto div div div i{
        font-size: 11px;
    }
    .contacto div div div a{
        font-size: 11px;
    }
    /**FOMRULARIO**/
    .formulariocontacto{
        background-color: black;
        height: 658px;
    }
    .formulariocontacto div{
        height: 100%;
    }
    .formulariocontacto div fieldset input{
        border-style: none;
        border-radius: 4px;
        height: 30px;
        color: transparent;
    }
    .formulariocontacto div fieldset input:hover{
        color: black;
    }
    .formulariocontacto div fieldset h3{
        font-size: 18px;
        padding-top: 0px;
        text-align: left;
    }
    .formulariocontacto div button{
        height: 40px;
        padding-top: 6px;
    }
    .formulariocontacto .moneda{
        height: 100px;
        text-align: left;
    }
    .formulariocontacto .moneda div{
        height: 20px; 
    }
    .formulariocontacto .terminos{
        height: 20px;
        text-align: left;
    }
    .footer{
        background-color: black;
        height: 100px;
    }
    .footer a{
        font-size: 14px;
    }
    /**Efectos**/
    .verde-texto{
        color: var(--verde-agua);
    }
    .efecto-verde{
        border-style: solid;
        border-color: var(--verde-agua);
        border-width: 0.5px;
        color: var(--verde-agua);
        background-color: transparent;
    }
    .efecto-verde:hover{
        border-style: none;
        color: black;
        background-color: var(--verde-agua);
    }
}
@media all and (min-width: 540px) {
    .texto-central div h1{
        font-size: 100PX;
    }
}
@media all and (min-width: 990px) {
    .menu a{
        padding-left: 10%;
    }
    .menu div{
        padding-right: 17%;
    }
    .texto-central div{
        max-width: 900px;
    }
    /**MONTE**/
    .monte{
        height: 80vh;
    }
    .monte div{
        max-width: 720px;
        margin-bottom: 200px;
        height: 28vh;
        padding-bottom: 0%;
    }
    .descuento{
        height: 40vh;
    }
    /**CONTACTO*/
    .contacto{
        height: 80vh;
    }
    .contacto div{
        margin-bottom: 0px;
    }
    .contacto div div div{
        padding-right: 1.5vh;
        margin-left: 1.5vh;
    }
    .contacto div div div i{
        font-size: 18px;
    }
    .contacto div div div a{
        font-size: 18px;
    }
    /**FORMULARIO**/
    .formulariocontacto{
        height: 80vh;
    }
    .formulariocontacto div{
        height: 50vh;
    }
    .formulariocontacto div fieldset input{
        height: 35px;
    }
    .formulariocontacto div fieldset h3{
        padding-top: 10px;    
    }
}